<section class="login">
  <div class="row">
    <div class="col">
      <h1>C$ Dream Bank</h1>
    </div>
    <div class="row"><div class="col">welcome back</div></div>
    <div class="row">
      <h3>Login</h3>
    </div>
    <div class="row">
      <p>
        For your money safety, please delete all extensions <br />
        for the browser you use to login to your wallet
      </p>
    </div>
    <div class="row">
      <form action="">
        <div class="col">User Name <input type="text" /></div>
        <div class="col">Password <input type="text" /></div>
        <div class="col"><button class="btn-custom">Login!</button></div>
      </form>
    </div>
    <div class="row">
      <div class="col">Don´t have an account?</div>
      <div>
        Register here → <button class="btn-custom">Create Account</button>
      </div>
    </div>
  </div>
</section>
