<section>
    <div class="row">
      <div class="row">
        <div class="col-6"><h1>C$ Dream Bank</h1></div>
        <div class="col-6"><button class="btn-custom">X</button></div>
      </div>
      <div class="row"><h3>Request</h3></div>
      <div class="row"><h2>New Product</h2></div>
      <div class="row">
        <p>Instant payments, and a lot of withdrawal methods available</p>
      </div>
      <div class="row">
        <form action="">
          <div class="col">Product<input type="text" /></div>
          <div class="col">Cellphone<input type="text" /></div>
          <div class="col">Monthly income<input type="text" /></div>
          <div class="col"><button class="btn-custom">Send</button></div>
          <div class="col"><a href="">cancel</a></div>
        </form>
      </div>
    </div>
  </section>