/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,400&display=swap");

body {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: larger;
}
input {
  border-radius: 5px;
  border: cornflowerblue 2px solid;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-custom {
  border-radius: 50px;
  border: none;
}

.sidebar{
  background-color:cornflowerblue
}
