<section class="sidebar">
  <div class="row">
    <h3>C$</h3>
  </div>
  <div class="row mt-3">
    <h6><b>ACCOUNTS</b></h6>
    <ul>
      <li>Account Summary</li>
      <li>Accounts</li>
    </ul>
  </div>
  <div class="row mt-3">
    <h6><b>TRANSACTIONS</b></h6>
    <ul>
      <li>Inquire Transactions</li>
      <li>Fund Transfer</li>
      <li>Bill Payments</li>
    </ul>
  </div>
  <div class="row mt-3">
    <h6><b>SERVICES</b></h6>
    <ul>
      <li>Account Statements</li>
      <li>Enroll New Account</li>
      <li>Enroll New Card Credit</li>
      <li>Card Replacement</li>
      <li>New Checkbook</li>
    </ul>
  </div>
</section>
